@import "tailwindcss";
@plugin "daisyui";


:root {
     font-family: 'font-sans', sans-serif;
     background-color: white;
     margin-bottom: 32px;
}

/* FIX AUTOFILL COLOR PROBLEMS */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
     -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important; /* bijela pozadina */
     box-shadow: 0 0 0 1000px #ffffff inset !important;
     -webkit-text-fill-color: #111827 !important; /* text-neutral-800 */
}